@use "_variables.scss" as *;
.content{
padding: $paddingMobile;
}
.contentContainer{
    background-color: $colorObjects;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

}