.dropListContainer{
    position: relative;
      &.activeZ {
    z-index: 999;
  }

    .btnDropList{
        width: max-content;
    }
    .dropList{
        position: absolute;
        bottom: 0;
        left: -200px;
        transform: translateY(100%);
    }
    .left{
        left: -250px;
    }
}
