.user{

    display: flex;
    gap:10px;
    align-items: center;
    position: relative;
    
    .dropList{
        bottom: 0;

        left:50%;   
        transform: translate(-50%, 100%);
    }
    .avatar{
        width: 2.7rem;
        height: 2.7rem;
        background-color: gray;
        border-radius: 50%;
        
        
    }
   
    .userContainer{
        font-size: 1.3rem;
    }
    .role{
        font-size: 0.9rem;
        opacity: 0.8;
        color: gray;
        text-align: left;
    }
}