.userContainer{
    position: relative;
    
}
.dropListContainer{
    position: absolute;
    bottom: 0;
    left:50%;   
    transform: translate(-50%, 100%);
}
.user{
    font-size: 1.3rem;
    display: flex;
    gap:10px;
    align-items: center;
    
    
    
    .avatar{
        width: 2.2em;
        height: 2.2em;
        background-color: gray;
        border-radius: 50%;
        
        
    }
   
    .userContainer{
        font-size: 1em;
    }
    .role{
        font-size: 0.7em;
        opacity: 0.8;
        color: gray;
        text-align: left;
    }
    
    
}