@use "_variables.scss" as *;
.sidebar{
    
    
    transition: all 0.2s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: $colorObjects;
   
    width: $sidebarWidth;
    padding: 20px 15px 8% 15px;
    z-index: 1000;
    .header{
        
        display: flex;
        align-items: center;
        justify-content: space-around;
        
    }
    .sidebarContainer{
        
        height: 100%;
       
        position: relative;
        .content{
            height: 100%;
            display: flex;
           
            flex-direction: column;
            justify-content: space-between;
            
        }
        
        .hamburgerHeader{
            position: absolute;
            top: 15px;
            left: $paddingMobile;
        }
        .logoLink{
            
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
           
            text-decoration: none;
        }
        
        .navList{
            margin-top: 40%;
            display: flex;
            flex-direction: column;
            gap: 20px;
            font-size: 1.2rem;
            
        }
        .btnLogout{
        width: 100%;
        border-radius: 10px;
        padding: 14px 7%;
        font-size: 1.2rem;
        text-align: left;
        background-color: $deleteAction;
        
    }
    }
}
.sidebarClose{
    transform: translateX(-100%);
}

.hamburgerHeader{
    position: fixed;
    top: 15px;
    left: $paddingMobile;
}