@use '_variables.scss' as *;
.link{
    display: flex;
    align-items: center;
    padding: 14px 7%;
    width: 100%;
    
    margin: 0 auto;
    border-radius: 7px;
    transition: all 0.2s;


    &:hover{
        
        background-color: $bgColor;
    }
    
}
.activeLink{
    background-color: $mainColor !important;
    color: white;
}