@use '_variables.scss' as *;
.dropList{
    
    
    background-color: $colorObjects;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
    transform: scaleY(0.8);
    transform-origin:top;
    

    
    .myBtn{
        white-space: nowrap;
        color: $cuteColor;
        padding: 10px;
        
    }
}


.animation{
    transform: scaleY(1);
}
