@use '_variables.scss' as *;
.dropList{
    
    background-color: $colorObjects;
    overflow: hidden;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    z-index: 100;
    transition: transform 0.25s;
    transform: scaleY(0.2);
    
    .myBtn{
        white-space: nowrap;

    }
}
