.manageContainer{
   
    display: flex;
    align-items: center;
    justify-content: space-between;
    .btn{
        font-size: 1.2rem;
        border-radius: 30px;
        
    }
}
.btnDropListTable{
    font-size: 1.3rem;
    
}